* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

.menu-container {
    
  color: #edeef0;
  background-color: #0a2754; 
  width:100%;
  padding: 20px 0;
  display: flex;
  justify-content:space-between;
    
}

.menu {
    
  background-color: #0a2754;  
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
    
}

.group1 {
    
  /* border: 1px solid #fff; */
  width: 800px;/* For debugging */
  display: flex;
  justify-content: space-around;
    
}

.group2 {
    
  /* border: 1px solid #fff; */
  width: 200px;/* For debugging */
  display: flex;
  justify-content: space-around;
    
}

.heading {
    
    background-color: #75103f;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:#0a2754;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.9));
}

.heading-text {
    
    border: 5px solid #000;
    height: 170px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:25px;
}

.heading-text span {
    
  display: block;
  position: relative;
  top: 16%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 23px;
    
}


.footer{
    background-color: #75103f;
    width:100%;
    height:70px;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    
    background-color:#0a2754;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.9), rgba(255,255,255,0));
    
    
}

a{color:inherit;}

.articles{
    background-color: #ebebeb;
}

.preparation{
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction:column;
   text-align: center;
}

.art{
    font-size:18px;
    width:70%;
    margin:auto;
    margin-bottom:20px;
    margin-top:20px;
    text-align: left;

}

.he-pu{
    color: #edeef0;
    background-color: #0a2754; 
    padding-top:20px;
    padding-bottom:20px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.9), rgba(255,255,255,0),rgba(255,255,255,0.9));
    text-decoration: underline;
    
}

h2{
    font-weight: normal;
}

h3{
    font-weight: normal;
}

.year{
    
    width:70%;
    text-align:left;
    margin:auto;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:10px;
    margin-left:160px;
    margin-top:20px;
    margin-bottom:20px;
    border-bottom:2px solid #000;
    
}

li{
    margin:20px;
    margin-left:500px;
}

ul{
    text-align:left;
}